@charset "UTF-8";
/* CSS Document */
@import url("subway-font-embedded.css");
@import url("subway-font-codes.css");
@import url("animation.css");
@import url("subway-font.css");

@font-face {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
}

/*.row:before {content:'';display:table;} .row:after {clear:both}*/
html {
    color: #fff;
}

body {
    /*  font-family: robotoregular,sans-serif;*/
    font-family: Helvetica Neue, regular, serif;
    font-weight: 100;
    line-height: 1.6em;
    font-size: 1.4em;
    min-width: 575px;
    box-sizing: border-box;
}

a:active {
    outline: 0;
}

.clear {
    clear: both;
}

/*  цвета (чтоб не искать)  */
.dark-blue {
    color: #2f4c8a;
}

.seawave {
    color: #817FFE;
}

.light-gray {
    color: #8FA4AF;
}

.dark-gray {
    color: #666;
}

.container3 {
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2 {
    font-weight: 600;
    line-height: 1.1em;
    font-family: robotoregularregular, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.flex-caption h3 {
    font-family: robotoregularregular, sans-serif;
}

h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-bottom: 20px;
    font-family: robotoregularregular, sans-serif;
    font-weight: 600;
}

.aligncenter {
    text-align: center;
}

.widget {
    color: rgba(255, 255, 255, 0.77);
}

.row .row, .row-fluid .row-fluid {
    margin-bottom: 30px;
}

.row.nomargin, .row-fluid.nomargin {
    margin-bottom: 0;
}

.about-image img {
    width: 100%;
    box-sizing: border-box;
}

img.img-polaroid {
    margin: 0 0 20px 0;
}

.img-box {
    max-width: 100%;
    box-sizing: border-box;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 10px;
}

/* --------------------------------

ФОРМА АВТОРИЗАЦИИ

-------------------------------- */

.cd-user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(37, 36, 108, 0.9);
    z-index: 500;
    overflow-y: auto;
    cursor: pointer;
}

.cd-user-modal.is-visible .cd-user-modal-container {
    transform: translateY(0);
}

.cd-user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 4px;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.cd-user-modal-container .cd-switcher:after {
    content: "";
    display: table;
    clear: both;
}

.cd-user-modal-container .cd-switcher {
    padding-left: 0;
    list-style: none;
}

.cd-user-modal-container .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child {
    border-radius: 4px 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child {
    border-radius: 0 4px 0 0;
}

.cd-user-modal-container .cd-switcher li {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #EEEEFE;
    color: #CDCCFE;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.cd-user-modal-container .cd-switcher li.selected {
    background: #FFF;
    color: #000;
}

@media only screen and (min-width: 600px) {
    .cd-user-modal-container {
        margin: 4em auto;
    }

    .cd-user-modal-container .cd-switcher li {
        height: 70px;
        line-height: 70px;
    }
}

.cd-form {
    padding: 1.4em;
}

.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form label {
    font-size: 12px;
    color: #4B544E;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    font-weight: 300;
    white-space: nowrap;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-form input {
    margin: 0;
    border-radius: 0;
    width: 100%;
    padding: 12px 20px 12px 50px;
    border-bottom: 1px solid #93A6AF;
    border-top: none;
    border-left: none;
    border-right: none;
    appearance: none;
}

.cd-form input:focus {
    border-color: #817FFE;
    outline: none;
}

#cd-login.is-selected::after {
    content: 'Тестовый вход: 111 - 222';
    padding-left: 10px;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    appearance: none;
}

.cd-form input[type=submit]:hover, .cd-form input[type=submit]:focus {
    background: #817FFE;
    color: #000;
    outline: none;
}

.cd-form .date-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #93A6AF;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 300;
    color: #4B544E;
}

#cd-reset-password .cd-form {
    padding: 0em 8em 2em 8em;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 4em 8em 2em 8em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
        width: 200px;
        left: calc(50% - 100px);
    }

    .cd-form input {
        padding: 16px 20px;
    }

    .cd-form input.has-padding-icon {
        padding: 16px 0px 16px 20px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

.cd-form-message {
    padding: 1.4em 1.4em 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    color: #666;
}

.icon-calendar {
    background-image: url(../images/calendar.png);
    height: 22px;
    width: 22px;
    display: inline-block;
    cursor: default;
}

.icon-clock {
    background-image: url(../images/clock.png);
    height: 24px;
    width: 22px;
    display: inline-block;
    cursor: default;
}

/* ------------ КАЛЕНДАРЬ ------------------------------------ */

.xcalend {
    position: absolute;
    z-index: 600;
    width: 150px;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
}

.xcalend td {
    cursor: pointer;
    padding: 5px;
}

.xcalend thead td {
    color: #333;
}

.xcalend thead tr:last-child td {
    font-size: 12px;
    background: #fff;
    color: #555;
    cursor: default;
}

.xcalend tbody td {
    color: #025;
}

.xcalend tfoot td {
    color: #333;
}

/*
.xcalend tbody td.tday {
background: #eee;
font-weight: bold;
}
*/
.xcalend tbody td:hover {
    background: #EEEEFE;
    color: #acf;
    border-radius: 50%;
}

.xcalend td:hover {
    background: #EEEEFE;
    color: #acf;
}

.cal-l:hover, .cal-r:hover {
    background: #EEEEFE;
    color: #acf;
    border-radius: 50px !important;
}

.xcalend tbody td:nth-child(n+6) {
    color: #e78c5c;
}

.xcalend .cal-first td:nth-last-child(-n+2) {
    color: #e78c5c;
}

.xcalend tbody td.today {
    background: #817FFE;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}

.xcalend tbody td.bold {
    font-weight: bold;
}

.xcalend tbody td.cal-l b, .xcalend tbody td.cal-r b {
    display: none;
}

.xcalend tbody td.cal-l:hover b, .xcalend tbody td.cal-r:hover b {
    display: inline;
}

.xcalend a {
    text-decoration: none;
}

.xcalend th a {
    color: #ccc;
    display: block;
    padding: 5px 0;
}

.swal2-container {
    z-index: 14000;
}