@charset "UTF-8";
/* CSS Document */
@import url("subway-font-embedded.css");
@import url("subway-font-codes.css");
@import url("animation.css");
@import url("subway-font.css");

@font-face {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
}

/*.row:before {content:'';display:table;} .row:after {clear:both}*/
html {
    color: #fff;
}

body {
    /*  font-family: robotoregular,sans-serif;*/
    font-family: Helvetica Neue, regular, serif;
    font-weight: 100;
    line-height: 1.6em;
    font-size: 1.4em;
    min-width: 575px;
    box-sizing: border-box;
    background-image: url(../images/3.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}

a:active {
    outline: 0;
}

.clear {
    clear: both;
}

/*  цвета (чтоб не искать)  */
.dark-blue {
    color: #2f4c8a;
}

.seawave {
    color: #817FFE;
}

.light-gray {
    color: #8FA4AF;
}

.dark-gray {
    color: #666;
}

.container3 {
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2 {
    font-weight: 600;
    line-height: 1.1em;
    font-family: robotoregularregular, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
}

.flex-caption h3 {
    font-family: robotoregularregular, sans-serif;
}

h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-bottom: 20px;
    font-family: robotoregularregular, sans-serif;
    font-weight: 600;
}

.aligncenter {
    text-align: center;
}

.widget {
    color: rgba(255, 255, 255, 0.77);
}

.row .row, .row-fluid .row-fluid {
    margin-bottom: 30px;
}

.row.nomargin, .row-fluid.nomargin {
    margin-bottom: 0;
}

.about-image img {
    width: 100%;
    box-sizing: border-box;
}

img.img-polaroid {
    margin: 0 0 20px 0;
}

.img-box {
    max-width: 100%;
    box-sizing: border-box;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 10px;
}

/* -------------------------------- 

ГАМБУРГЕРНОЕ МЕНЮ

-------------------------------- */
/**/

/* -------------------------------- 

ФОРМА ПОИСКА

-------------------------------- */
.cd-form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.cd-form .fieldset:first-child {
    margin-top: 0;
}

.cd-form .fieldset:last-child {
    margin-bottom: 0;
}

.cd-form label {
    font-size: 12px;
    color: #4B544E;
}

.cd-form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    font-weight: 300;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.cd-form input {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.cd-form input.full-width {
    width: 100%;
}

.cd-form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.cd-form input.has-border {
    border-bottom: 1px solid #93A6AF;
    border-top: none;
    border-left: none;
    border-right: none;
    appearance: none;
}

.cd-form input.has-border:focus {
    border-color: #817FFE;
    outline: none;
}

.cd-form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border: none;
    border-radius: 50px;
    appearance: none;
}

.cd-form input[type=submit]:hover, .cd-form input[type=submit]:focus {
    background: #817FFE;
    color: #000;
    outline: none;
}

.cd-form .date-icon {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 6px 15px;
    border-left: 1px solid #93A6AF;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: 300;
    color: #4B544E;
}

@media only screen and (min-width: 600px) {
    .cd-form {
        padding: 4em 8em 2em 8em;
    }

    .cd-form .fieldset {
        margin: 2em 0;
    }

    .cd-form .fieldset:first-child {
        margin-top: 0;
    }

    .cd-form .fieldset:last-child {
        margin-bottom: 0;
        width: 200px;
        left: calc(50% - 100px);
    }

    .cd-form input.has-padding {
        padding: 16px 20px;
    }

    .cd-form input.has-padding-icon {
        padding: 16px 0px 16px 20px;
    }

    .cd-form input[type=submit] {
        padding: 16px 0;
    }
}

#input_box {
    top: 10px;
    width: 100%;
}

[type='text'] {
    position: inherit;
    background-color: #fff;
    border: 0;
}

#station1 {
    width: 20%;
    margin: 0px 20px !important;
}

#date {
    width: 100%;
}

#submit {
    width: 20%;
    margin: 0px 20px !important;
}

.cd-form1 {
    padding: 1.4em !important;
    text-align: center;
}

/* ----------   Выпадающий список (аккаунт)   ----------- */

.dropdown-menu {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    font-size: calc(24px - .5vw);
    font-weight: 300;
    background-color: rgba(37, 36, 108, 0.8)
}

.register-signin-shedule {
    margin: -45px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}

.register-signin-shedule ul li {
    display: inline-block;
}

.register-signin-tickets {
    margin: -45px 0 0 0;
    font-size: 12px;
    font-weight: 400;
}

.cd-signup {
    margin-right: 20px;
    padding: 10px 50px;
    border: solid 1px #000;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
}

.cd-signup:hover {
    text-decoration: none;
    background-color: #817FFE;
}

.user-avatar {
    color: #000;
    padding: 20px 10px;
    text-transform: uppercase;
}

.user-avatar:hover,
.user-avatar:focus,
.user-avatar:active {
    text-decoration: none;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .3s ease;
}

.sign-out li a {
    padding: 10px;
    font-size: 13px;
    display: block;
    color: #FEFEFE;
    text-transform: uppercase;
}

.dash-user {
    right: 0;
    top: 32px;
    left: auto;
    box-shadow: 0px 2px 3px rgba(156, 156, 156, 0.36);
    padding: 0;
    border-radius: 0 0 4px 4px;
}

.avatarka {
    font-size: 20px;
    padding: 7px 5px 0 0;
}

/* ------- ГЛАВНОЕ МЕНЮ --------- */
.navbar {
    border: none;
}

.nav li.eee {
    background-color: #817FFE;
}

.nav li.eee a.dropdown-toggle b {
    border-bottom-color: #fff;
    border-top-color: #fff
}

/*                                .nav  li.eee a.dropdown-toggle{color: #fff}*/
.navbar-brand {
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: -1px;
    padding-left: 5px;
}

/* ------------- логотип ---------------- */
.icon-logo {
    color: #000;
    font-size: 27px;
    line-height: 40px;
    display: inline-block;
    transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    transition: transform 1.2s, color 1.2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.icon-logo:hover {
    transform: perspective(1000px) rotate3d(1, 0, 0, 360deg);
    color: #817FFE;
}

.navbar-default .navbar-brand {
    color: #2f4c8a;
    /* --------- цвет лого ------- */
}

header .navbar-collapse ul.navbar-nav {
    /*
      float: right;
      margin-right: 0;
    */
    float: left;
    margin: 0 0 0 200px;
}

header .navbar {
    min-height: 70px;
    padding: 18px 0;
}

header .navbar-default {
    background: none;
    width: 100%;
}

header .nav .caret {
    border-bottom-color: #817FFE;
    border-top-color: #817FFE;
    margin: auto;
}

header .nav li a.dropdown-toggle:hover .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

header .nav li a:hover, header .nav li a:focus,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a {
    transition: all .3s ease;
}

header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
    background-color: #f1f5f8;
    transition: all .3s ease;
    color: #8FA4AF;
}

header .navbar-default .navbar-nav > .open > a b,
header .navbar-default .navbar-nav > .open > a:hover b,
header .navbar-default .navbar-nav > .open > a:focus b {
    border-bottom-color: #8FA4AF;
    border-top-color: #8FA4AF;
}

header .navbar {
    padding: 0;
    margin: 0;
}

header .navbar-nav > li > a {
    padding: 0 18px;
    line-height: 70px;
    /* ----------------- высота меню ------------- */
    transition: all .3s ease;
}

.dropdown-menu li a:hover {
    color: #fff !important;
    background: #817FFE !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #8FA4AF;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #8FA4AF;
}

.dropdown-menu {
    /*  box-shadow: none;*/
    border-radius: 0;
    border: none;
}

.dropdown-menu li:last-child {
    padding-bottom: 0 !important;
    margin-bottom: 0;
}

header .nav li .dropdown-menu {
    padding: 0;
}

header .nav li .dropdown-menu li a {
    line-height: 38px;
    padding: 5px 12px;
    color: #8FA4AF;
}

header .nav li .dropdown-menu .active a {
    color: #fff;
    background: #817FFE;
}

header .navigation {
    float: right;
}

header ul.nav li {
    border: none;
    margin: 0;
}

header ul.nav li a {
    font-size: 12px;
    border: none;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar .nav > li > a {
    color: #000;
    border: 1px solid rgba(255, 255, 255, 0) !important;
}

.main-nav1 li {
    display: block;
}

.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
    color: #000;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
}

.nav > li > a:hover {
    color: #000;
    background-image: url("../images/circle.png");
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center center;
}

/* -------------------------------------------------------- КОНТЕНТ ------------------------------------------ */

#content {
    /*    margin-top: 300px;*/
    width: 100%;
}

.wrapper-tickets {
    margin-top: 140px;
}

.text-center {
    text-align: center;
}

.hero-text {
    line-height: 76px;
    font-weight: 300;
    color: #000;
    margin: 0;
    font-size: 64px;
}

.page {
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    min-height: 100%;
    min-height: 100vh;
}

.tickets-page {
    min-height: 100%;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-tickets {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------- МЕДИА ЗАПРОСЫ ----------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
@media (min-width: 769px) and (max-width: 1200px) {
    /* ---------------- основное меню ---------------- */
    header .navbar-nav > li > a {
        float: right !important;
        padding: 0 18px;
    }

    header ul.nav li a {
        margin: 0;
        font-size: 12px;
        /* ----------------- размер шрифта ссылок главного меню ------------- */
    }

    header ul.nav li ul li a {
        font-size: 10px;
        /* ----------------- размер шрифта ссылок выпадающего меню ------------- */
    }
}

/*@media (max-width: 991px) {.social-network1 {display:block;}.network {display:none;}}*/
@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    @media (max-width: 768px) {
        .navbar-collapse {
            padding: 0;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: rgba(221, 221, 221, 0);
        }

        .navbar-default .navbar-collapse, .navbar-default .navbar-form {
            border-color: #d7d7d7;
            /*  --------------------- цвет отчеркивания меню при схлопывании ------------------- */
            margin-top: 25px;
        }

        body {
            padding-right: 0;
            padding-left: 0;
        }

        .navbar-brand {
            border-bottom: none;
        }

        .navbar-header {
            /* margin-top: 20px; */
            border-bottom: none;
        }

        .navbar-nav {
            border-top: none;
            float: none;
            width: 100%;
            box-sizing: border-box;
            margin: 0;
        }

        .navbar-default .navbar-nav > .open > a:hover,
        .navbar-default .navbar-nav > .open > a:focus {
            background-color: #fff;
            color: #8FA4AF;
        }

        header .navbar-nav > li > a {
            line-height: 15px;
        }

        .navbar .nav > .active > a:hover {
            background-color: #817FFE;
            font-weight: 700;
            color: #FFF;
        }

        .caret {
            display: none;
        }

        header .navbar-nav > li {
            padding-bottom: 2px;
            padding-top: 3px;
        }

        header .nav li .dropdown-menu {
            margin-top: 0;
        }

        .dropdown-menu {
            position: absolute;
            left: 10px;
            z-index: 1000;
            display: none;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 13px;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;

            box-sizing: border-box;
            border-radius: 0;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        }
    }

    li.active {
        border: none;
        /*		overflow: hidden;*/
    }

}

#content {
    position: absolute;
    /*	top: 45px;*/
}

#result {
    visibility: hidden;
    background-color: #F4F6FC;
    padding: 5px;
    padding-top: 1px;
    color: #212761;
    position: inherit;
    border: 0;
    font-size: 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#map {
    position: inherit;
    left: 350px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 400;
}

#map span {
    width: 50%;
}

#map div {
    cursor: pointer;
    border-radius: 14px;
    position: inherit;
    padding: 0 6px;
    /*    background-color: #fff;*/
    color: #7A41BF;
}

#map div:hover {
    background-color: #EEEEFE;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

/*
.red {color: #BC021E;}
.violet {color: #9C1995;}
.blue {color: #0E7EA3;}
.green {color: #088B1C;}
.orange {color: #C28C04;}
*/

#image {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#stat_1 {
    left: 20px;
    top: 85px;
}

#stat_2 {
    left: 51px;
    top: 104px;
}

#stat_3 {
    left: 48px;
    top: 125px;
}

#stat_4 {
    left: 67px;
    top: 145px;
}

#stat_5 {
    left: 76px;
    top: 164px;
}

#stat_6 {
    left: 116px;
    top: 246px;
}

#stat_7 {
    left: 174px;
    top: 280px;
}

#stat_8 {
    left: 314px;
    top: 328px;
}

#stat_9 {
    left: 369px;
    top: 422px;
}

#stat_10 {
    left: 369px;
    top: 442px;
}

#stat_11 {
    left: 369px;
    top: 462px;
}

#stat_12 {
    left: 369px;
    top: 482px;
}

#stat_13 {
    left: 256px;
    top: 21px;
}

#stat_14 {
    left: 254px;
    top: 42px;
}

#stat_15 {
    left: 254px;
    top: 62px;
}

#stat_16 {
    left: 254px;
    top: 82px;
}

#stat_17 {
    left: 254px;
    top: 103px;
}

#stat_18 {
    left: 254px;
    top: 122px;
}

#stat_19 {
    left: 254px;
    top: 144px;
}

#stat_20 {
    left: 254px;
    top: 166px;
}

#stat_21 {
    left: 254px;
    top: 190px;
}

#stat_22 {
    left: 145px;
    top: 296px;
}

#stat_23 {
    left: 172px;
    top: 380px;
}

#stat_24 {
    left: 254px;
    top: 405px;
}

#stat_25 {
    left: 254px;
    top: 425px;
}

#stat_26 {
    left: 254px;
    top: 445px;
}

#stat_27 {
    left: 254px;
    top: 465px;
}

#stat_28 {
    left: 254px;
    top: 485px;
}

#stat_29 {
    left: 254px;
    top: 505px;
}

#stat_30 {
    left: 254px;
    top: 527px;
}

#stat_31 {
    left: 370px;
    top: 2px;
}

#stat_32 {
    left: 370px;
    top: 22px;
}

#stat_33 {
    left: 370px;
    top: 42px;
}

#stat_34 {
    left: 370px;
    top: 62px;
}

#stat_35 {
    left: 370px;
    top: 83px;
}

#stat_36 {
    left: 370px;
    top: 103px;
}

#stat_37 {
    left: 370px;
    top: 124px;
}

#stat_38 {
    left: 370px;
    top: 146px;
}

#stat_39 {
    left: 370px;
    top: 170px;
}

#stat_40 {
    left: 370px;
    top: 194px;
}

#stat_41 {
    left: 313px;
    top: 250px;
}

#stat_42 {
    left: 322px;
    top: 348px;
}

#stat_43 {
    left: 110px;
    top: 338px;
}

#stat_44 {
    left: 78px;
    top: 404px;
}

#stat_45 {
    left: 82px;
    top: 423px;
}

#stat_46 {
    left: 58px;
    top: 443px;
}

#stat_47 {
    left: 98px;
    top: 465px;
}

#stat_48 {
    left: 46px;
    top: 485px;
}

#stat_49 {
    left: 42px;
    top: 506px;
}

#stat_50 {
    left: 7px;
    top: 210px;
}

#stat_51 {
    left: 0px;
    top: 230px;
}

#stat_52 {
    left: 260px;
    top: 212px;
}

#stat_53 {
    left: 380px;
    top: 212px;
}

#stat_54 {
    left: 460px;
    top: 266px;
}

#stat_55 {
    left: 415px;
    top: 344px;
}

#stat_56 {
    left: 402px;
    top: 364px;
}

#stat_57 {
    left: 420px;
    top: 384px;
}

#stat_58 {
    left: 435px;
    top: 404px;
}

#stat_59 {
    left: 506px;
    top: 428px;
}

#stat_60 {
    left: 253px;
    top: 266px;
}

#stat_61 {
    left: 298px;
    top: 293px;
}

#stat_62 {
    left: 333px;
    top: 268px;
}

#stat_63 {
    left: 423px;
    top: 295px;
}

#stat_64 {
    left: 552px;
    top: 346px;
}

#stat_65 {
    left: 552px;
    top: 366px;
}

#stat_66 {
    left: 552px;
    top: 386px;
}

#stat_67 {
    left: 552px;
    top: 406px;
}

#stat_68 {
    left: -10px;
    top: 178px;
}

#stat_69 {
    left: -37px;
    top: 195px;
}

.xcalend {
    position: absolute;
    z-index: 999;
    width: 150px;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
}

.xcalend td {
    cursor: pointer;
    padding: 5px;
}

.xcalend thead td {
    color: #333;
}

.xcalend thead tr:last-child td {
    font-size: 12px;
    background: #fff;
    color: #555;
    cursor: default;
}

.xcalend tbody td {
    color: #025;
}

.xcalend tfoot td {
    color: #333;
}

/*
.xcalend tbody td.tday {
background: #eee;
font-weight: bold;
}
*/
.xcalend tbody td:hover {
    background: #EEEEFE;
    color: #acf;
    border-radius: 50%;
}

.xcalend td:hover {
    background: #EEEEFE;
    color: #acf;
}

.cal-l:hover, .cal-r:hover {
    background: #EEEEFE;
    color: #acf;
    border-radius: 50px !important;
}

.xcalend tbody td:nth-child(n+6) {
    color: #e78c5c;
}

.xcalend .cal-first td:nth-last-child(-n+2) {
    color: #e78c5c;
}

.xcalend tbody td.today {
    background: #817FFE;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
}

.xcalend tbody td.bold {
    font-weight: bold;
}

.xcalend tbody td.cal-l b, .xcalend tbody td.cal-r b {
    display: none;
}

.xcalend tbody td.cal-l:hover b, .xcalend tbody td.cal-r:hover b {
    display: inline;
}

.xcalend a {
    text-decoration: none;
}

.xcalend th a {
    color: #ccc;
    display: block;
    padding: 5px 0;
}